<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @using System.Web.Optimization
    @Styles.Render("~/Content/Site.css", "~/Content/themes/base/css", "~/Content/css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/knockout")
    @Scripts.Render("~/Scripts/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
